<div class="banner">
    <div class="mt-5 container p-4">
        <form (submit)="submitRegister()">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="first_name">First Name</label>
                    <input type="email" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-sm-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address">
                </div>
                <div class="form-group col-sm-6">
                    <label for="mobile">Mobile Number</label>
                    <input type="text" class="form-control" id="mobile" placeholder="9876543210" row="6" col="0">
                </div>
            </div>
    
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group col-sm-6">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-outline-warning btn-register">Register</button>
        </form>
        <!-- <button class="btn btn-link-primary text-warning float-right" routerLink="">already signed??</button> -->
    </div>
</div>