<div class="banner">
    <div class="container p-4">
        <form>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-warning btn-login">Submit</button>
        </form>
        <button class="btn btn-link-primary text-warning float-right" routerLink="register">Not registred yet??</button>
    </div>
</div>